{% extends 'userPanel/base/index.html' %}


{% block title %}
پنل کاربری - محصولات دیجیتالی
{% endblock %}

{% block context %}
    <section class="content-header">
        <h1>
          محصولات دیجیتالی
        </h1>
      <br>
    </section>

  <!-- Main content -->
  <section class="content">

  <! ------------------------- >

  <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <table class="table table-striped table-bordered table-hover"
              style="border: 1px solid #dddddd;text-align: center;">
              <thead>
                <tr>
                  <th>شناسه</th>
                  <th>نام</th>
                  <th>قیمت خریداری شده</th>
                  <th>لینک دانلود</th>
                  <th>تصویر</th>
                </tr>
              </thead>
              <tbody>
              {% for pr in products %}
                <tr>
                  <th scope="row">{{ pr.id }}</th>
                  <td>{{ pr.product.title }}</td>
                  <td>{{ pr.price }} تومان</td>
                  <td><a href="{{ pr.product.ebook.url }}"  class="btn btn-info" download>دانلود</a></td>
                  <td><img src="{{ pr.product.image.url }}" height="60px"></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

        </div>

        <style>
          .table-bordered>thead>tr>th,
          .table-bordered>tbody>tr>th,
          .table-bordered>tfoot>tr>th,
          .table-bordered>thead>tr>td,
          .table-bordered>tbody>tr>td,
          .table-bordered>tfoot>tr>td {
            border: 1px solid #dddddd;
            vertical-align: text-bottom;
            text-align: center;
          }
        </style>


        <br>
        <br>
        <br>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <nav aria-label="Page navigation" style="text-align: center;">
              <ul class="pagination">

              {% if products.has_previous %}
                <li>
                  <a href="{% url 'userPanel:digitalProducts_page' %}?page={{ products.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
              {% endif %}

                </li>
                {% for p in products.paginator.page_range %}
                    <li><a href="{% url 'userPanel:digitalProducts_page' %}?page={{ p }}">{{ p }}</a></li>
                    <li>
                {% endfor %}


                {% if products.has_next %}
                    <a href="{% url 'userPanel:digitalProducts_page' %}?page={{ products.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
                </li>
              </ul>
            </nav>
          </div>
        </div>

{% endblock %}