{% extends 'userPanel/base/index.html' %}


{% block title %}
پنل کاربری - تغییر گذرواژه
{% endblock %}

{% block context %}

  <section class="content-header">
    <h1>
      تغییر گذرواژه
    </h1>
  <br>
  </section>

  <!-- Main content -->
  <section class="content">

  <! ------------------------- >

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <form  method="post">
                {% csrf_token %}
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
                  <input type="text" class="form-control" name="password1" placeholder="گذرواژه" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
                  <input type="text" class="form-control" name="password2" placeholder="تکرار گذرواژه" aria-describedby="basic-addon1">
                </div>
                <br>
                <button type="submit" class="btn btn-success">تغییر</button>
                <a href="{% url 'userPanel:userPanel_page' %}"><button type="button" class="btn btn-danger">انصراف</button></a>

            </form>

          </div>
        </div>
      </div>

{% endblock %}