{% extends 'base/index.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block context %}
    <div class="hero-wrap hero-wrap-2"
         style="background-image: url('{% static "site/images/backGround.jpg" %}'); background-attachment:fixed;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center"
                 data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center">
                    <h1 class="mb-3 bread" style="text-align: center">تماس با ما</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section contact-section ftco-degree-bg" style="background-color: #1c3664;">
        <div class="container">

            <div class="row block-9">
                <div class="col-md-6 pr-md-5">
                    <h4 class="mb-4" style="color: white">آیا سوالی دارید؟</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="نام">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="ایمیل">
                        </div>
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control" placeholder=" عنوان تماس">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="" cols="30" rows="7" class="form-control"
                                      placeholder="پیام"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="درخواست تماس" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>

                </div>
                <div class="col-md-6 d-flex mb-5 contact-info" style="flex-direction: column;direction: rtl;text-align: right">
                    <div class="">
                        <br>
                        <h2 class="h4" style="color: white">اطلاعات تماس</h2>
                    </div>
                    <br>
                    <div class="w-100"></div>
                    <div class="">
                        <p style="color: white"><span style="color: #ffff33">آدرس :</span> {{ settings.address }}</p>
                    </div>
                    <div class="">
                        <p style="color: white"><span style="color: #ffff33">تلفن :</span> <a style="color: white" href="tel://1234567920">{{ settings.phone }}</a></p>
                    </div>
                    <div>
                        <p ><span style="color: #ffff33">ایمیل :</span> <a  style="color: white" href="mailto:info@yoursite.com">{{ settings.email }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}